In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (2.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mehdi\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [4]:
earth_quakes = pd.read_csv("../../Data/Source/EarthQuakes/earthquakes_2023_global.csv")
earth_quakes.head(5)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-01-01T00:49:25.294Z,52.0999,178.5218,82.770,3.10,ml,14.0,139.0,0.8700,0.18,...,2023-03-11T22:51:52.040Z,"Rat Islands, Aleutian Islands, Alaska",earthquake,8.46,21.213,0.097,14.0,reviewed,us,us
1,2023-01-01T01:41:43.755Z,7.1397,126.7380,79.194,4.50,mb,32.0,104.0,1.1520,0.47,...,2023-03-11T22:51:45.040Z,"23 km ESE of Manay, Philippines",earthquake,5.51,7.445,0.083,43.0,reviewed,us,us
2,2023-01-01T03:29:31.070Z,19.1631,-66.5251,24.000,3.93,md,23.0,246.0,0.8479,0.22,...,2023-03-11T22:51:29.040Z,Puerto Rico region,earthquake,0.91,15.950,0.090,16.0,reviewed,pr,pr
3,2023-01-01T04:09:32.814Z,-4.7803,102.7675,63.787,4.30,mb,17.0,187.0,0.4570,0.51,...,2023-03-11T22:51:45.040Z,"99 km SSW of Pagar Alam, Indonesia",earthquake,10.25,6.579,0.238,5.0,reviewed,us,us
4,2023-01-01T04:29:13.793Z,53.3965,-166.9417,10.000,3.00,ml,19.0,190.0,0.4000,0.31,...,2023-03-11T22:51:38.040Z,"59 km SSW of Unalaska, Alaska",earthquake,1.41,1.999,0.085,18.0,reviewed,us,us

In [6]:
earth_quakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26642 entries, 0 to 26641
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             26642 non-null  object
 1   latitude         26642 non-null  float64
 2   longitude        26642 non-null  float64
 3   depth            26642 non-null  float64
 4   mag              26642 non-null  float64
 5   magType          26642 non-null  object
 6   nst              25227 non-null  float64
 7   gap              25225 non-null  float64
 8   dmin             24776 non-null  float64
 9   rms              26642 non-null  float64
 10  net              26642 non-null  object
 11  id               26642 non-null  object
 12  updated          26642 non-null  object
 13  place            25034 non-null  object
 14  type             26642 non-null  object
 15  horizontalError  25093 non-null  float64
 16  depthError       26642 non-null  float64
 17  magError         24970 non-null  float64
 18  magNst           25065 non-null  float64
 19  status           26642 non-null  object
 20  locationSource   26642 non-null  object
 21  magSource        26642 non-null  object
dtypes: float64(12), object(10)
memory usage: 4.5+ MB

In [7]:
earth_quakes.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,26642.000000,26642.000000,26642.000000,26642.000000,25227.000000,25225.000000,24776.000000,26642.000000,25093.000000,26642.000000,24970.000000,25065.000000
mean,16.852798,-11.487497,67.491224,4.007395,42.571332,124.930971,2.692908,0.581575,7.017267,4.475056,0.122735,33.315939
std,30.389200,130.053399,116.762456,0.794423,37.662352,67.430145,4.043568,0.256276,4.072365,4.451649,0.102271,48.022567
min,-65.849700,-179.998700,-3.370000,2.600000,0.000000,8.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000
25%,-6.415275,-149.608650,10.000000,3.220000,19.000000,73.000000,0.612000,0.410000,4.140000,1.848000,0.080000,10.000000
50%,18.884167,-64.811833,21.998000,4.300000,30.000000,111.000000,1.579000,0.590000,7.060000,2.019000,0.111000,18.000000
75%,41.827950,126.965100,66.833000,4.500000,52.000000,165.000000,3.172000,0.750000,9.730000,6.669000,0.150000,36.000000
max,86.593900,179.999400,681.238000,7.800000,423.000000,350.000000,50.820000,1.880000,99.000000,60.670000,4.490000,884.000000

In [14]:
#if there is alot of columns
earth_quakes.describe().T

,count,mean,std,min,25%,50%,75%,max
latitude,26642.0,16.852798,30.389200,-65.8497,-6.415275,18.884167,41.82795,86.5939
longitude,26642.0,-11.487497,130.053399,-179.9987,-149.608650,-64.811833,126.96510,179.9994
depth,26642.0,67.491224,116.762456,-3.3700,10.000000,21.998000,66.83300,681.2380
mag,26642.0,4.007395,0.794423,2.6000,3.220000,4.300000,4.50000,7.8000
nst,25227.0,42.571332,37.662352,0.0000,19.000000,30.000000,52.00000,423.0000
gap,25225.0,124.930971,67.430145,8.0000,73.000000,111.000000,165.00000,350.0000
dmin,24776.0,2.692908,4.043568,0.0000,0.612000,1.579000,3.17200,50.8200
rms,26642.0,0.581575,0.256276,0.0100,0.410000,0.590000,0.75000,1.8800
horizontalError,25093.0,7.017267,4.072365,0.0000,4.140000,7.060000,9.73000,99.0000
depthError,26642.0,4.475056,4.451649,0.0000,1.848000,2.019000,6.66900,60.6700
magError,24970.0,0.122735,0.102271,0.0000,0.080000,0.111000,0.15000,4.4900
magNst,25065.0,33.315939,48.022567,0.0000,10.000000,18.000000,36.00000,884.0000

In [15]:
earth_quakes.isna().sum()

time                  0
latitude              0
longitude             0
depth                 0
mag                   0
magType               0
nst                1415
gap                1417
dmin               1866
rms                   0
net                   0
id                    0
updated               0
place              1608
type                  0
horizontalError    1549
depthError            0
magError           1672
magNst             1577
status                0
locationSource        0
magSource             0
dtype: int64

In [24]:
coords = earth_quakes.drop(["latitude","longitude"], axis=1)
coords

,time,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-01-01T00:49:25.294Z,82.770,3.10,ml,14.0,139.0,0.8700,0.18,us,us7000j5a1,2023-03-11T22:51:52.040Z,"Rat Islands, Aleutian Islands, Alaska",earthquake,8.46,21.213,0.097,14.0,reviewed,us,us
1,2023-01-01T01:41:43.755Z,79.194,4.50,mb,32.0,104.0,1.1520,0.47,us,us7000j3xk,2023-03-11T22:51:45.040Z,"23 km ESE of Manay, Philippines",earthquake,5.51,7.445,0.083,43.0,reviewed,us,us
2,2023-01-01T03:29:31.070Z,24.000,3.93,md,23.0,246.0,0.8479,0.22,pr,pr2023001000,2023-03-11T22:51:29.040Z,Puerto Rico region,earthquake,0.91,15.950,0.090,16.0,reviewed,pr,pr
3,2023-01-01T04:09:32.814Z,63.787,4.30,mb,17.0,187.0,0.4570,0.51,us,us7000j3xm,2023-03-11T22:51:45.040Z,"99 km SSW of Pagar Alam, Indonesia",earthquake,10.25,6.579,0.238,5.0,reviewed,us,us
4,2023-01-01T04:29:13.793Z,10.000,3.00,ml,19.0,190.0,0.4000,0.31,us,us7000j1zd,2023-03-11T22:51:38.040Z,"59 km SSW of Unalaska, Alaska",earthquake,1.41,1.999,0.085,18.0,reviewed,us,us
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26637,2023-12-29T03:37:19.334Z,10.000,5.20,mb,72.0,60.0,3.9240,0.93,us,us6000m0c5,2023-12-29T04:05:57.040Z,"89 km SW of Panguna, Papua New Guinea",earthquake,10.07,1.765,0.048,141.0,reviewed,us,us
26638,2023-12-29T04:38:54.109Z,10.000,5.10,mb,74.0,121.0,1.8030,0.70,us,us6000m0ch,2023-12-29T10:59:44.533Z,"Izu Islands, Japan region",earthquake,9.17,1.870,0.042,187.0,reviewed,us,us
26639,2023-12-29T08:42:05.747Z,10.000,5.10,mb,60.0,54.0,12.7760,0.57,us,us6000m0dr,2023-12-29T08:57:05.040Z,Chagos Archipelago region,earthquake,8.02,1.792,0.090,40.0,reviewed,us,us
26640,2023-12-29T11:02:48.679Z,153.264,4.70,mb,40.0,61.0,3.7460,0.82,us,us6000m0e5,2023-12-29T11:22:46.040Z,"49 km NNW of Isangel, Vanuatu",earthquake,8.52,7.433,0.081,46.0,reviewed,us,us
26641,2023-12-29T16:31:16.656Z,10.000,5.00,mb,53.0,64.0,4.1560,0.78,us,us6000m0f0,2023-12-29T16:45:27.040Z,"92 km WSW of Myitkyina, Myanmar",earthquake,7.85,1.876,0.071,64.0,reviewed,us,us

In [26]:
coords.isna().sum()

time                  0
depth                 0
mag                   0
magType               0
nst                1415
gap                1417
dmin               1866
rms                   0
net                   0
id                    0
updated               0
place              1608
type                  0
horizontalError    1549
depthError            0
magError           1672
magNst             1577
status                0
locationSource        0
magSource             0
dtype: int64

In [32]:
coords["nst"] = coords["nst"].fillna(method="bfill")

C:\Users\Mehdi\AppData\Local\Temp\ipykernel_12900\1590528402.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  coords["nst"] = coords["nst"].fillna(method="bfill")

In [33]:
coords["nst"].isnull().sum()

0

In [30]:
coords["nst"] = coords["nst"].fillna(method="ffill")

C:\Users\Mehdi\AppData\Local\Temp\ipykernel_12900\1037183138.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  coords["nst"] = coords["nst"].fillna(method="ffill")

In [31]:
coords["nst"].isnull().sum()

0

In [36]:
coords["magError"]=coords["magError"].fillna(coords["magError"].median())

In [37]:
coords["magError"].isnull().sum()

0